@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Google Sans Regular"), local(GoogleSans-Regular),
    url(//fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Google Sans Regular"), local(GoogleSans-Regular),
    url(//fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Nwp5MKg.woff2)
      format("woff2");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Google Sans Regular"), local(GoogleSans-Regular),
    url(//fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Google Sans Regular"), local(GoogleSans-Regular),
    url(//fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Google Sans Medium"), local(GoogleSans-Medium),
    url(//fonts.gstatic.com/s/googlesans/v5/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Google Sans Medium"), local(GoogleSans-Medium),
    url(//fonts.gstatic.com/s/googlesans/v5/4UabrENHsxJlGDuGo1OIlLU94YtwCwZ-Pw.woff2)
      format("woff2");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Google Sans Medium"), local(GoogleSans-Medium),
    url(//fonts.gstatic.com/s/googlesans/v5/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZ-Pw.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Google Sans Medium"), local(GoogleSans-Medium),
    url(//fonts.gstatic.com/s/googlesans/v5/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* width */
ol::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
ol::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

/* Handle on hover */
ol::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: #f2f2f2;
  background: #111212;
  overflow: hidden;
  margin: 30px 570px;
}
@media (max-width: 991px) {
  body {
    margin: 0px 5px;
  }
  ol::-webkit-scrollbar {
    width: 0px;
  }
}

header {
  margin-top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.upper {
  position: sticky;
  position: -webkit-sticky;
  /* for Safari */
  top: 0px;
  left: 0px;
  width: 100%;
  background: #111212;
  z-index: 5;
}

.text {
  background: transparent;
}

.icon {
  background: none;
  padding: 12px;
  position: relative;
  top: 2px;
}

svg {
  background: none;
  width: 24px;
  height: 24px;
}

path {
  background: none;
}

input {
  color: #f2f2f2;
  font-family: "Google Sans", sans-serif;
  padding: 12px;
  background: #212121;
  border-radius: 25px;
  height: auto;
  border: none;
  margin: 5px;
}

input:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-family: "Google Sans", sans-serif;
}

th {
  background-color: #212121;
  font-family: "Google Sans", sans-serif;
  position: sticky;
  position: -webkit-sticky;
  /* for Safari */
  top: 0px;
  left: 0px;
}

.pd {
  padding-left: 5px;
}

td,
th {
  padding: 15px;
  text-align: center;
  font-family: "Google Sans", sans-serif;
}

ol {
  height: 54vh;
  padding-left: 0px;
  overflow-y: scroll;
  font-family: "Google Sans", sans-serif;
}

.logo {
  width: 400px;
  height: auto;
}

small {
  background-color: #212121;
  padding: 10px;
  color: #dedbd4;
  border-radius: 8px;
  font-family: "Google Sans", sans-serif;
}

.measure {
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  position: relative;
  left: -10px;
  font-family: "Google Sans", sans-serif;
}

.button-wrap {
  margin: 15px 5px;
}

.button-long-list {
  background: #161616;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: auto;
  border-radius: 12px;
  border-style: none;
  box-sizing: border-box;
}

.button-long {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  background: #212121;
  width: 100%;
  padding: 10px;
  margin: auto;
  border-radius: 12px;
  border-style: none;
  box-sizing: border-box;
}

.flex {
  display: flex;
  background: none;
  align-items: center;
}

.icon-bg {
  background: #212121;
  width: 50px;
  height: 50px;
  border-radius: 12px;
}

.icon-txt {
  margin: 0px;
  background: none;
  position: relative;
  top: 26%;
  font-weight: bold;
}

.btn-txt {
  padding: 4px 5px;

  color: #dedbd4;
  background: none;
  font-weight: 400;
  position: relative;
  top: 3px;
}

.countbtns {
  display: flex;
  align-items: center;
  justify-content: center;
}

#custom-date-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  overflow-y: auto;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  z-index: 10;
  padding: 30px;
  margin: auto;
  background: rgba(11 12 12 / 80%);
  border-radius: 12px;
}

#reportcard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  overflow: hidden;
  padding: 40px;
  z-index: 10;
  margin: 5px;
  width: 80%;
  background: rgba(11 12 12 / 80%);
  border-radius: 12px;
}

.area {
  width: 100%;
  height: 350px;
  overflow-y: scroll;
}

.area::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.area {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.button {
  display: inline;
  margin: 20px;
  font-family: "Google Sans", sans-serif;
  background: white;
  border: none;
  padding: 8px 16px;
  border-radius: 30px;
  color: #212121;
}
