@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Google Sans Regular"), local(GoogleSans-Regular),
    url(//fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: Lemon Milk;
  src: url(assets/fonts/LEMONMILK-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Google Sans Bold";

  font-weight: 700;
  src: local("Google Sans Regular"), local(GoogleSans-Regular),
    url(https://fonts.gstatic.com/s/googlesans/v58/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvbQui-A3tw.woff2)
      format("woff2");
}

/* width */
ol::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
ol::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

/* Handle on hover */
ol::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: #161616;
  background: #ffffff;
  margin: 30px 470px;
  overflow: hidden;
  height: 100vh;
}
@media (max-width: 991px) {
  body {
    margin: 0px 5px;
  }
  ol::-webkit-scrollbar {
    width: 0px;
  }
}

header {
  margin: 40px 0px;
  box-sizing: border-box;
}

.upper {
  position: sticky;
  position: -webkit-sticky;
  /* for Safari */
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100%;

  z-index: 5;
}

.text {
  background: transparent;
}

.icon {
  background: none;
  padding: 12px;
  position: relative;
  top: 2px;
}

svg {
  background: none;
  width: 24px;
  height: 24px;
}

path {
  background: none;
}
#nothing {
  text-align: center;
  color: #0038ff;
  font-size: 34px;
}
.nothing__small {
  font-size: 17px;
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
  color: #111;
}
input {
  color: #161616;
  font-family: "Google Sans", sans-serif;
  padding: 11px;
  background: #f2f2f2;
  border-radius: 25px;
  height: auto;
  border: none;
  margin: 5px;
}

input:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-family: "Google Sans", sans-serif;
}

th {
  background-color: #f2f2f2;
  font-family: "Google Sans", sans-serif;
  color: #0038ff;
}
th:nth-child(1){
    border-radius: 99px 0px 0px 99px;
}
th:nth-child(2){
    border-radius: 0px 99px 99px 0px;
}
th:nth-child(3){
    border-radius: 99px 0px 0px 99px;
}
th:nth-child(4){
    border-radius: 0px 99px 99px 0px;
}
.pd {
  padding-left: 5px;
}

td,
th {
  padding: 15px;
  text-align: center;
  font-family: "Google Sans", sans-serif;
}
.lower {
  height: 50%;
}
ol {
  overflow: scroll;
  padding: 0px;
  height: 100%;
  font-family: "Google Sans", sans-serif;
}

.logo {
  height: 45px;
}
.name {
  font-family: Lemon Milk;
  font-size: 22px;
  color: #161616;
  font-weight: 500;
  letter-spacing: 2px;
}

small {
  background-color: #c0ddff;
  padding: 10px 20px;
  color: #111;
  border-radius: 100px;
  font-family: "Google Sans", sans-serif;
}
input::placeholder {
  color: #111;
  text-transform: capitalize;
}
input:invalid {
  color: red;
}

.measure {
  color: #161616;
  font-weight: 500;
  font-size: 13px;
  margin: 0px 20px;
  font-family: "Google Sans", sans-serif;
}
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-wrap {
  margin: 15px 5px;
}

.button-long-list {
  background: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: auto;
  border-radius: 12px;
  border-style: none;
  box-sizing: border-box;
}

.button-long {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  background: #f2f2f2;
  width: 100%;
  padding: 10px;
  margin: auto;
  border-radius: 12px;
  border-style: none;
  box-sizing: border-box;
}

.flex {
  display: flex;
  background: none;
  align-items: center;
}

.icon-bg {
  background: #c0ddff;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.icon-txt {
  margin: 0px;
  background: none;
  color: #111;
  font-weight: bold;
  font-family: Lemon Milk;
}

.btn-txt {
  padding: 4px 5px;

  color: #dedbd4;
  background: none;
  font-weight: 400;
  position: relative;
  top: 3px;
}

.countbtns {
  display: flex;
  gap: 7px;
  padding: 10px;
  align-items: center;
}
h3 {
  padding: 0px 10px;
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}

#custom-date-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99; /* Make sure it's on top of other elements */
}
#popup {
  /* Style the pop-up */
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Make sure it's on top of the overlay */
}
#reportcard {
  position: relative;

  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  overflow: hidden;
  padding: 40px;
  z-index: 10;
  margin: 5px;
  width: 100%;
  background: white;
  border-radius: 12px;
}

.area {
  width: 100%;
  height: 350px;
  overflow-y: scroll;
}

.area::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.area {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.button {
  cursor: pointer;
}
.button:nth-child(1) {
  display: inline;
  font-family: "Google Sans", sans-serif;
  background: #0038ff;
  border: none;
  height: 35px;
  width: 100px;

  border-radius: 30px;
  color: white;
}
.button:nth-child(2) {
  display: inline;
  font-family: "Google Sans", sans-serif;
  background: #c0ddff;
  border: none;
  height: 35px;
  width: 80px;
  border-radius: 30px;
  color: black;
}
.button:nth-child(3) {
  display: inline;
  font-family: "Google Sans", sans-serif;
  background: #0038ff;
  border: none;
  height: 35px;
  width: 80px;
  border-radius: 30px;
  color: white;
}
